<Ui xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">

    <Frame name="FMSettingsTabTemplate" enableMouse="true" useParentLevel="true" virtual="true">
        <Frames>

            <CheckButton name="$parentDebug" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="BOTTOMLEFT" x="10" y="10"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.debug");
                        self:SetChecked(FishMaster.db.global.debug);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.global.debug = not FishMaster.db.global.debug;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentMiniMap" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" x="10" y="-10"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.minimap");
                        self:SetChecked(not FishMaster.db.profile.minimap.hide);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.profile.minimap.hide = not FishMaster.db.profile.minimap.hide;
                        FishMaster:Trigger("Settings");

                        if FishMaster.db.profile.minimap.hide then
                        FishMaster.minimap:Hide("FishMasterMinimapIcon");
                        else
                        FishMaster.minimap:Show("FishMasterMinimapIcon");
                        end
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentAutoLure" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentMiniMap" relativePoint="BOTTOMLEFT"/>
                </Anchors>


                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.autoLure");
                        self:SetChecked(FishMaster.db.char.autoLure);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.char.autoLure = not FishMaster.db.char.autoLure;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentLowestLure" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentAutoLure" x="20" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.lowestLure");
                        self:SetChecked(FishMaster.db.char.lowestLure);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.char.lowestLure = not FishMaster.db.char.lowestLure;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentEasyCast" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentLowestLure" x="-20" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.easyCast");
                        self:SetChecked(FishMaster.db.char.easyCast);
                    </OnShow>
                    <OnEnter>
                        GameTooltip:ClearLines();
                        GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
                        GameTooltip:SetText(FishMaster:translate('settings.easyCast'));
                        GameTooltip:AddLine(FishMaster:Colorize(FishMaster:translate('settings.easyCastDescription'),
                        "white"));
                        GameTooltip:Show();
                    </OnEnter>
                    <OnLeave>
                        GameTooltip:ClearLines();
                        GameTooltip:Hide();
                    </OnLeave>
                    <OnClick>
                        FishMaster.db.char.easyCast = not FishMaster.db.char.easyCast;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentGear" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentEasyCast" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.autoGear");
                        self:SetChecked(FishMaster.db.char.autoEquip);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.char.autoEquip = not FishMaster.db.char.autoEquip;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentTracker" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentGear" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.tracker.show");
                        self:SetChecked(FishMaster.db.char.tracker.enabled);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.char.tracker.enabled = not FishMaster.db.char.tracker.enabled;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentSession" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentTracker" x="20" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.tracker.session");
                        self:SetChecked(FishMaster.db.char.tracker.session);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.char.tracker.session = not FishMaster.db.char.tracker.session;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentHideTrash" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentSession" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.tracker.trash");
                        self:SetChecked(FishMaster.db.char.tracker.hideTrash);
                    </OnShow>
                    <OnClick>
                        FishMaster.db.char.tracker.hideTrash = not FishMaster.db.char.tracker.hideTrash;
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <CheckButton name="$parentOverrideAudio" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentHideTrash" x="-20" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.sound.enhance");
                        self:SetChecked(FishMaster.db.char.audio.enabled);
                    </OnShow>
                    <OnClick>

                        if not FishMaster.db.char.audio.enabled then
                        FishMaster:SaveAudio();
                        end

                        FishMaster.db.char.audio.enabled = not FishMaster.db.char.audio.enabled;

                        if FishMaster.db.char.audio.enabled then
                        FishMaster:SetAudio();
                        else
                        FishMaster:UnsetAudio();
                        end
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>


            <CheckButton name="$parentForceSound" inherits="FMUICheckbox">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentOverrideAudio" x="20" relativePoint="BOTTOMLEFT"/>
                </Anchors>

                <Scripts>
                    <OnShow>
                        FishMaster:SetFrameText(self.Text, "settings.sound.force");
                        self:SetChecked(FishMaster.db.char.audio.force);
                        if FishMaster.db.char.audio.enabled then
                        self:Enable();
                        self.Text:SetFontObject("GameFontNormalSmall");
                        else
                        self:Disable();
                        self.Text:SetFontObject("GameFontDisableSmall");
                        end
                    </OnShow>
                    <OnClick>
                        FishMaster.db.char.audio.force = not FishMaster.db.char.audio.force;

                        if FishMaster.db.char.audio.enabled then
                        FishMaster:SetAudio();
                        else
                        FishMaster:UnsetAudio();
                        end
                        FishMaster:Trigger("Settings");
                    </OnClick>
                </Scripts>
            </CheckButton>

            <Slider name="$parentMasterVolume" inherits="OptionsSliderTemplate" enableMouse="true"
                    orientation="HORIZONTAL" minValue="0" maxValue="1" valueStep="0.01">
                <Size x="120" y="17"/>
                <Anchors>
                    <Anchor point="RIGHT" relativeTo="$parentForceSound" relativePoint="RIGHT">
                        <Offset>
                            <AbsDimension x="260"/>
                        </Offset>
                    </Anchor>
                </Anchors>
                <Layers>
                    <Layer level="ARTWORK">

                        <FontString name="$parentText" parentKey="label" inherits="GameFontNormal" text="Volume">
                            <Anchors>
                                <Anchor point="TOP" relativePoint="TOP">
                                    <Offset>
                                        <AbsDimension x="5" y="14"/>
                                    </Offset>
                                </Anchor>
                            </Anchors>

                            <NormalFont style="GameFontNormal"/>
                            <HighlightFont style="GameFontHighlight"/>
                            <DisabledFont style="GameFontDisable"/>
                        </FontString>
                    </Layer>
                </Layers>

                <Scripts>
                    <OnLoad>
                        local name = self:GetName();
                        _G[name.."Low"]:Hide();
                        _G[name.."High"]:Hide();
                        _G[name.."Text"]:SetFontObject("GameFontNormalSmall");
                        _G[name.."Text"]:SetPoint("BOTTOM", self, "TOP", 0, 4);
                        self.cvar = "Sound_MasterVolume";
                    </OnLoad>
                    <OnShow>
                        self:SetValue(FishMaster.db.char.audio.volume)
                        self:Disable();

                        if FishMaster.db.char.audio.enabled then
                        self:Enable();
                        self.label:SetFontObject("GameFontNormalSmall");
                        else
                        self:Disable();
                        self.label:SetFontObject("GameFontDisableSmall");
                        end

                    </OnShow>
                    <OnValueChanged>
                        self.value = value;
                        self.label:SetText(FishMaster:translate("settings.sound.volume", tostring(ceil(value * 100))));
                        FishMaster.db.char.audio.volume = self.value

                        if FishMaster.db.char.audio.enabled then
                        FishMaster:SetAudio();
                        else
                        FishMaster:UnsetAudio();
                        end
                        FishMaster:Trigger("Settings");
                    </OnValueChanged>
                </Scripts>

                <NormalFont style="GameFontNormal"/>
                <HighlightFont style="GameFontHighlight"/>
                <DisabledFont style="GameFontDisable"/>
            </Slider>


        </Frames>
    </Frame>
</Ui>